.App {
  background-color: rgba(0, 0, 0, 0.02);
  width: 100%;
}
.content {
  background-image: url("./assets/svgs/sign-in-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.content h1 {
  margin-bottom: 1rem;
}
.pro-section {
  flex-direction: column;
  background: #003250;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 42px 80px;
  max-width: 18rem;
}
.pro-section p {
  font-weight: 500;
  font-size: 1.2rem;
}
.pro-section a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}
